<!DOCTYPE html>
<html>
<head>
	<head>

  <meta charset="utf-8">
  <meta name="description" content="Browser based peer to peer file transfer, courtesy of WebRTC">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Browser based peer to peer file transfer, courtesy of WebRTC">
  <meta itemprop="name" content="Browser based peer to peer file transfer, courtesy of WebRTC">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <title>Transfer a file</title>

  <link rel="stylesheet" href="/css/uswds.min.css"> 
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/uswds.min.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>  
  <script type="text/javascript" src="/js/peer.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src='/js/download.js'></script>
<style>
progress {
  background-size: 20px 20px;
}
</style>
</head>

</head>
<body>

<h1>Join a Room</h1>

<button onclick="redirect_to_sender();">Join a Room</button>


<script>

var redirect_to_sender = function(){
	
	window.location.href= window.location.protocol + "//"+ window.location.host+ "/sender"; 
}
</script>
</body>
</html>